<a href="https://colab.research.google.com/github/sskboonmee/data_viz_2022/blob/main/Basic_Programming_Concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function ($f(x) = y $ )

```python
def function_name(input_x):   #def = นิยามฟังก์ชัน
    # do something with input_x to get output_y
    return output_y
 ```

$f1(x) = x**2 + 75$

In [18]:
def function_f1(x):
    a = x**2
    y = a + 75
    return y

print('done!')

done!

In [19]:
function_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน
1. บอก python ว่าเราจะเขียนฟังก์ชัน ชื่ออะไร ```def function_name() : (ขาดไม่ได้)```
2. กำหนดตัวแปรที่จะเป็น input ```input``` (ขาดได้)
3. ส่วนประมวลผล do_something with Input to get Output (ขาดไม่ได้)
4. ส่วน output return Output(ขาดได้)

##ตัวอย่าง function ที่มีส่วนประกอบครบ

In [20]:
def function_f1(x):
    a = x**2
    y = a + 75
    return y

##ตัวอย่าง function ที่ไม่มี input

In [21]:
def pi_v():
    y = 3.1459265359
    return y

In [22]:
piv = pi_v()
circle_area_r2 = piv*(2**2)
print(circle_area_r2)

12.5837061436

##function ไม่มี process ไม่ได้

In [24]:
dew function_a():

SyntaxError: ignored

##ตัวอย่าง function ที่ไม่มี output

In [25]:
def print_name_id(name,id):
    print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [26]:
print_name_id('ศศิกานต์','6230205399')

ชื่อ ศศิกานต์ รหัสประจำตัว 6230205399

In [27]:
a = print_name_id('ศศิกานต์','6230205399')

ชื่อ ศศิกานต์ รหัสประจำตัว 6230205399

In [28]:
a

ตัวอย่าง function print

In [29]:
print('ศศิกานต์')
print('623020539-9')

ศศิกานต์
623020539-9

In [30]:
print('ศศิกานต์',end='->')
print('623020539-9')

ศศิกานต์->623020539-9

In [31]:
print('ศศิกานต์','623020539-9')

ศศิกานต์ 623020539-9

In [32]:
print('ศศิกานต์','623020539-9',sep=' & ')

ศศิกานต์ & 623020539-9

### input ของ Function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function 'print_grade()' มี input  3 ตัวจำเป็นต้องใส่ 2 ตัวคือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัวคือเกรด ซึ่งมีค่า default เป็น F

In [33]:
def print_grade(name,id,grade = ' F '):
    print(f' รหัสประจำตัว {id} ชื่อ {name}')
    print(f'ได้เกรด {grade}')

In [34]:
print_grade('นายสิทธัตกะ จรัสแสง' , '623020541-2','A')

 รหัสประจำตัว 623020541-2 ชื่อ นายสิทธัตกะ จรัสแสง
ได้เกรด A

In [35]:
print_grade(id='623020541-2',name='นายสิทธัตกะ จรัสแสง',grade='B+')

 รหัสประจำตัว 623020541-2 ชื่อ นายสิทธัตกะ จรัสแสง
ได้เกรด B+

# Looping

```python

for member in listEx:
    do_something()

In [36]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [37]:
def print_name(name):
    print(f'ฉันชื่อ {name}')

In [38]:
for name in ['วัชราภรณ์','จุฑากาญจน์ ','ชลธิชา','ญาดา','กิตติคุณ']:
    N = name
    print_name(N)

ฉันชื่อ วัชราภรณ์
ฉันชื่อ จุฑากาญจน์
ฉันชื่อ ชลธิชา
ฉันชื่อ ญาดา
ฉันชื่อ กิตติคุณ

In [39]:
list_name_id_grade = [['นางสาวเบญญาภา ระภูเขียว','623020527-6','B'],
                      ['นางสาวทักษิณา ราชหุ่น','623021000-1','A'],
                      ['นางสาวปลายฟ้า คำเพ็ง','623021005-1','C']]

In [40]:
for each in list_name_id_grade:
    name = each[0]
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print('----------------')

 รหัสประจำตัว 623020527-6 ชื่อ นางสาวเบญญาภา ระภูเขียว
ได้เกรด B
----------------
 รหัสประจำตัว 623021000-1 ชื่อ นางสาวทักษิณา ราชหุ่น
ได้เกรด A
----------------
 รหัสประจำตัว 623021005-1 ชื่อ นางสาวปลายฟ้า คำเพ็ง
ได้เกรด C
----------------

##ใช้ for loop เพิ่มสมาชิกใน list

In [41]:
list_name = []
list_id = []
list_grade = []
for each in list_name_id_grade:
    list_name.append(each[0])
    list_id.append(each[1])
    list_grade.append(each[2])

In [42]:
list_name

['นางสาวเบญญาภา ระภูเขียว', 'นางสาวทักษิณา ราชหุ่น', 'นางสาวปลายฟ้า คำเพ็ง']

## การวนลูปด้วย range()

In [43]:
for i in range(100):
    print('งง', end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

##Loop ซ้อน Loop

In [44]:
for mem1 in range(2,5):
    print(f'now mem1 = {mem1}')
    for mem2 in range(1,13): #[1,2,3,4,5,6,7,8,9,10,11,12]
        print(f'{mem1} x {mem2} = {mem1*mem2}')
    print( f'end inner for mem1 = {mem1} ' )

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = 4

### Loop in function

In [45]:
def print_grade_loop(names,grades):
    for n,g in zip(names,grades):  #zip = เอา list 2 อันมาประกบกัน
            print(f' {n} ได้เกรด {g}')

In [46]:
print_grade_loop(list_name,list_grade)

 นางสาวเบญญาภา ระภูเขียว ได้เกรด B
 นางสาวทักษิณา ราชหุ่น ได้เกรด A
 นางสาวปลายฟ้า คำเพ็ง ได้เกรด C

#Condition Statement(if)

```python
if condition1:
    do_something()    ## ถ้า condition1 เป็นจริง ทำ  do_something() 
elif condition2:
    do_another_thing()  ##ถ้า condition1ไม่เป็นจริงแต่  condition2 เป็นจริง ทำ do_another_thing()
else:
    do_last_thing()  ## ถ้าไม่มี condition ไหนไม่เป็นจริงเลย ทำ  do_last_thing() 
```

In [47]:
for n in list_name:
    if len(n)>20:
        print(f'{n} ได้เกรด A')
    else:
        print(f'{n} ได้เกรด F')

นางสาวเบญญาภา ระภูเขียว ได้เกรด A
นางสาวทักษิณา ราชหุ่น ได้เกรด A
นางสาวปลายฟ้า คำเพ็ง ได้เกรด F

###operator ที่ใช้ตรวจสอบ condition 
==,!=,>=,<=,<,>,and,or

In [48]:
a = 10 == 20
print(a)

False

In [49]:
b = 15 <=20
print(b)

True

In [50]:
if a:
    print('x')

In [51]:
if True:
    print('x')

x

In [52]:
if a and b:
    print('x')

In [53]:
if a or b:
    print('x')

x

# HW

เขียน function ตัดเกรด โดยที่ input เป็นคะแนน (0-100) ม output เป็นเกรด (F-A)
หรือ ไม่ตัด

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49,'ก',80]

กำหนด 

*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 0 แต่น้อยกว่า 50 จะได้เกรด F
*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80 จะได้เกรด A
*   ถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'

In [54]:
score = [1,50,65,90,101,-5,49,'ก',80]

In [55]:
print(score)
for i in score:
    if type(i) == type(""):
        print (f' {i} คะแนน ไม่สามารถตัดเกรดได้')
    else:
        if i >= 101:
            print (f' {i} คะแนน ไม่สามารถตัดเกรดได้')
        elif i >= 80:
            print (f' {i} คะแนน ได้เกรด  A')
        elif i >= 75:
            print (f' {i} คะแนน ได้เกรด  B+')
        elif i >= 70:
            print (f' {i} คะแนน ได้เกรด  B')
        elif i >= 65:
            print (f' {i} คะแนน ได้เกรด C+')
        elif  i >= 60:
            print (f' {i} คะแนน ได้เกรด  C')
        elif  i >= 55:
            print (f' {i} คะแนน ได้เกรด  D+')
        elif  i >= 50:
            print (f' {i} คะแนน ได้เกรด  D')
        elif  i >= 0:
            print (f' {i} คะแนน ได้เกรด  F')
        else:
            print (f' {i} คะแนน ไม่สามารถตัดเกรดได้')

[1, 50, 65, 90, 101, -5, 49, 'ก', 80]
 1 คะแนน ได้เกรด  F
 50 คะแนน ได้เกรด  D
 65 คะแนน ได้เกรด C+
 90 คะแนน ได้เกรด  A
 101 คะแนน ไม่สามารถตัดเกรดได้
 -5 คะแนน ไม่สามารถตัดเกรดได้
 49 คะแนน ได้เกรด  F
 ก คะแนน ไม่สามารถตัดเกรดได้
 80 คะแนน ได้เกรด  A

###เฉลยการบ้าน

In [56]:
input = [1,50,65,90,101,-5,49,'ก',80]

In [57]:
'ก' is not int() #is = คือ

True

In [58]:
type('')

str

In [59]:
def grading(x):
    if type(x) is int:  
        if x < 0:
            y =f'คะแนน {x} ไม่สามารถตัดเกรดได้'
        elif x < 50:
            y = f'คะแนน {x} ได้เกรด F'
        elif x < 55:
            y = f'คะแนน {x} ได้เกรด D'
        elif x < 60:
            y = f'คะแนน {x} ได้เกรด D+'
        elif x < 65:
            y = f'คะแนน {x} ได้เกรด C'
        elif x < 70:
            y = f'คะแนน {x} ได้เกรด C+'
        elif x < 75:
            y = f'คะแนน {x} ได้เกรด B'
        elif x < 80:
            y = f'คะแนน {x} ได้เกรด B+'
        elif x <= 100:
            y = f'คะแนน {x} ได้เกรด A'
        else:
            y =f'คะแนน {x} ไม่สามารถตัดเกรดได้'
    else:
        y =f'คะแนน {x} ไม่สามารถตัดเกรดได้'
    
    return y

In [60]:
type(1) is int

True

In [61]:
grading(1)

'คะแนน 1 ได้เกรด F'

In [62]:
for i in input:
    print(grading(i))

คะแนน 1 ได้เกรด F
คะแนน 50 ได้เกรด D
คะแนน 65 ได้เกรด C+
คะแนน 90 ได้เกรด A
คะแนน 101 ไม่สามารถตัดเกรดได้
คะแนน -5 ไม่สามารถตัดเกรดได้
คะแนน 49 ได้เกรด F
คะแนน ก ไม่สามารถตัดเกรดได้
คะแนน 80 ได้เกรด A