<a href="https://colab.research.google.com/github/sskboonmee/data_viz_2022/blob/main/Basic_Programming_Concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function ($f(x) = y $ )

```python
def function_name(input_x):   #def = นิยามฟังก์ชัน
    # do something with input_x to get output_y
    return output_y
 ```

$f1(x) = x**2 + 75$

In [23]:
def function_f1(x):
    a = x**2
    y = a + 75
    return y

print('done!')

done!

In [24]:
function_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน
1. บอก python ว่าเราจะเขียนฟังก์ชัน ชื่ออะไร ```def function_name() : (ขาดไม่ได้)```
2. กำหนดตัวแปรที่จะเป็น input ```input``` (ขาดได้)
3. ส่วนประมวลผล do_something with Input to get Output (ขาดไม่ได้)
4. ส่วน output return Output(ขาดได้)

##ตัวอย่าง function ที่มีส่วนประกอบครบ

In [25]:
def function_f1(x):
    a = x**2
    y = a + 75
    return y

##ตัวอย่าง function ที่ไม่มี input

In [26]:
def pi_v():
    y = 3.1459265359
    return y

In [27]:
piv = pi_v()
circle_area_r2 = piv*(2**2)
print(circle_area_r2)

12.5837061436

##function ไม่มี process ไม่ได้

In [29]:
dew function_a():

SyntaxError: ignored

##ตัวอย่าง function ที่ไม่มี output

In [31]:
def print_name_id(name,id):
    print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [32]:
print_name_id('ศศิกานต์','6230205399')

ชื่อ ศศิกานต์ รหัสประจำตัว 6230205399

In [33]:
a = print_name_id('ศศิกานต์','6230205399')

ชื่อ ศศิกานต์ รหัสประจำตัว 6230205399

In [34]:
a

ตัวอย่าง function print

In [35]:
print('ศศิกานต์')
print('623020539-9')

ศศิกานต์
623020539-9

In [36]:
print('ศศิกานต์',end='->')
print('623020539-9')

ศศิกานต์->623020539-9

In [37]:
print('ศศิกานต์','623020539-9')

ศศิกานต์ 623020539-9

In [38]:
print('ศศิกานต์','623020539-9',sep=' & ')

ศศิกานต์ & 623020539-9

### input ของ Function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function 'print_grade()' มี input  3 ตัวจำเป็นต้องใส่ 2 ตัวคือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัวคือเกรด ซึ่งมีค่า default เป็น F

In [39]:
def print_grade(name,id,grade = ' F '):
    print(f' รหัสประจำตัว {id} ชื่อ {name}')
    print(f'ได้เกรด {grade}')

In [40]:
print_grade('นายสิทธัตกะ จรัสแสง' , '623020541-2','A')

 รหัสประจำตัว 623020541-2 ชื่อ นายสิทธัตกะ จรัสแสง
ได้เกรด A

In [41]:
print_grade(id='623020541-2',name='นายสิทธัตกะ จรัสแสง',grade='B+')

 รหัสประจำตัว 623020541-2 ชื่อ นายสิทธัตกะ จรัสแสง
ได้เกรด B+

# Looping

```python

for member in listEx:
    do_something()

In [42]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [43]:
def print_name(name):
    print(f'ฉันชื่อ {name}')

In [44]:
for name in ['วัชราภรณ์','จุฑากาญจน์ ','ชลธิชา','ญาดา','กิตติคุณ']:
    N = name
    print_name(N)

ฉันชื่อ วัชราภรณ์
ฉันชื่อ จุฑากาญจน์
ฉันชื่อ ชลธิชา
ฉันชื่อ ญาดา
ฉันชื่อ กิตติคุณ

In [45]:
list_name_id_grade = [['นางสาวเบญญาภา ระภูเขียว','623020527-6','B'],
                      ['นางสาวทักษิณา ราชหุ่น','623021000-1','A'],
                      ['นางสาวปลายฟ้า คำเพ็ง','623021005-1','C']]

In [46]:
for each in list_name_id_grade:
    name = each[0]
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print('----------------')

 รหัสประจำตัว 623020527-6 ชื่อ นางสาวเบญญาภา ระภูเขียว
ได้เกรด B
----------------
 รหัสประจำตัว 623021000-1 ชื่อ นางสาวทักษิณา ราชหุ่น
ได้เกรด A
----------------
 รหัสประจำตัว 623021005-1 ชื่อ นางสาวปลายฟ้า คำเพ็ง
ได้เกรด C
----------------

##ใช้ for loop เพิ่มสมาชิกใน list

In [47]:
list_name = []
list_id = []
list_grade = []
for each in list_name_id_grade:
    list_name.append(each[0])
    list_id.append(each[1])
    list_grade.append(each[2])

In [48]:
list_name

['นางสาวเบญญาภา ระภูเขียว', 'นางสาวทักษิณา ราชหุ่น', 'นางสาวปลายฟ้า คำเพ็ง']

## การวนลูปด้วย range()

In [49]:
for i in range(100):
    print('งง', end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

##Loop ซ้อน Loop

In [52]:
for mem1 in range(2,5):
    print(f'now mem1 = {mem1}')
    for mem2 in range(1,13): #[1,2,3,4,5,6,7,8,9,10,11,12]
        print(f'{mem1} x {mem2} = {mem1*mem2}')
    print( f'end inner for mem1 = {mem1} ' )

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = 4

### Loop in function

In [55]:
def print_grade_loop(names,grades):
    for n,g in zip(names,grades):  #zip = เอา list 2 อันมาประกบกัน
            print(f' {n} ได้เกรด {g}')

In [61]:
print_grade_loop(list_name,list_grade)

 นางสาวเบญญาภา ระภูเขียว ได้เกรด B
 นางสาวทักษิณา ราชหุ่น ได้เกรด A
 นางสาวปลายฟ้า คำเพ็ง ได้เกรด C

#Condition Statement(if)

```python
if condition1:
    do_something()    ## ถ้า condition1 เป็นจริง ทำ  do_something() 
elif condition2:
    do_another_thing()  ##ถ้า condition1ไม่เป็นจริงแต่  condition2 เป็นจริง ทำ do_another_thing()
else:
    do_last_thing()  ## ถ้าไม่มี condition ไหนไม่เป็นจริงเลย ทำ  do_last_thing() 
```

In [62]:
for n in name:
    if len(n)>20:
        print(f'{n} ได้เกรด A')
    else:
        print(f'{n} ได้เกรด F')

น ได้เกรด F
า ได้เกรด F
ง ได้เกรด F
ส ได้เกรด F
า ได้เกรด F
ว ได้เกรด F
ป ได้เกรด F
ล ได้เกรด F
า ได้เกรด F
ย ได้เกรด F
ฟ ได้เกรด F
้ ได้เกรด F
า ได้เกรด F
  ได้เกรด F
ค ได้เกรด F
ำ ได้เกรด F
เ ได้เกรด F
พ ได้เกรด F
็ ได้เกรด F
ง ได้เกรด F

###operator ที่ใช้ตรวจสอบ condition 
==,!=,>=,<=,<,>,and,or

In [63]:
a = 10 == 20
print(a)

False

In [64]:
b = 15 <=20
print(b)

True

In [65]:
if a:
    print('x')

In [66]:
if True:
    print('x')

x

In [67]:
if a and b:
    print('x')

In [68]:
if a or b:
    print('x')

x

# HW

เขียน function ตัดเกรด โดยที่ input เป็นคะแนน (0-100) ม output เป็นเกรด (F-A)
หรือ ไม่ตัด

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49,'ก',80]

กำหนด 

*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 0 แต่น้อยกว่า 50 จะได้เกรด F
*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
*   ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80 จะได้เกรด A
*   รถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'