<a href="https://colab.research.google.com/github/sskboonmee/data_viz_2022/blob/main/Project_Dataviz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project ทำ Dashboard ของ Data Covid (ตั้งแต่วันที่ 12/01/2020 - 18/03/2022) เล่ามุมมองที่เราเลือกเอง + ใช้ข้อมูลภูมิภาค + ข้อมูลอื่นที่เลือกเอง ซึ่งข้อมูลที่เลือกเองคือ  ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA

In [97]:
import pandas as pd #import panda เพื่อจัดการตารางเล็กน้อย

In [98]:
from google.colab import drive
drive.mount('/content/drive')  #เป็นการนำข้อมูลเพิ่มเข้าไปที่colab

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [99]:
import os
path = '/content/drive/My Drive/DATA_Final_Project'

In [100]:
data_file_path = os.path.join(path,'DATACOVID_1.csv')    #ชี้ที่อยู่ในไฟล์
data_1 = pd.read_csv(data_file_path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

#Data Covid วันที่ 12/01/2020 - 12/08/2021

In [101]:
data_1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

In [102]:
data_1.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [103]:
data_1_drop = data_1.dropna()  #จัดการ missing 
data_1_drop

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
47,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน
124,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี
161,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง
181,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง
186,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ
...,...,...,...,...,...,...,...,...,...,...,...
839391,839392,12/8/2021,11/8/2021,หญิง,83.0,ปี,Thailand,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,วัฒนา
839392,839393,12/8/2021,11/8/2021,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,บางขุนเทียน
839393,839394,12/8/2021,11/8/2021,หญิง,43.0,ปี,Thailand,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,ประเวศ
839394,839395,12/8/2021,11/8/2021,หญิง,74.0,ปี,Thailand,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,ธนบุรี
839395,839396,12/8/2021,11/8/2021,ชาย,29.0,ปี,Thailand,กรุงเทพมหานคร,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,กรุงเทพมหานคร,ประเวศ

In [104]:
data_1_drop.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

#Data Covid วันที่ 12/08/2021 - 25/10/2021

In [105]:
data_file_path = os.path.join(path,'DATACOVID_2.csv')    
data_2 = pd.read_csv(data_file_path)

In [106]:
data_2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [107]:
data_2.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                     False
province_of_onset         True
district_of_onset         True
dtype: bool

In [108]:
data_2_drop = data_2.dropna() #จัดการ missing
data_2_drop

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
249,817239,12/8/2021,11/8/2021,ชาย,48.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
250,817240,12/8/2021,11/8/2021,หญิง,19.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
251,817241,12/8/2021,11/8/2021,หญิง,37.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
252,817242,12/8/2021,11/8/2021,ชาย,46.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
253,817243,12/8/2021,11/8/2021,ชาย,60.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
...,...,...,...,...,...,...,...,...,...,...,...
1041962,1858952,25/10/2021,24/10/2021,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,บางพลัด
1041963,1858953,25/10/2021,24/10/2021,หญิง,39.0,ปี,Thailand,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,บางพลัด
1041964,1858954,25/10/2021,24/10/2021,ชาย,80.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,สายไหม
1041965,1858955,25/10/2021,24/10/2021,หญิง,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,สายไหม
1041966,1858956,25/10/2021,24/10/2021,หญิง,53.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,สายไหม

In [109]:
data_2_drop.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

#Data Covid วันที่ 26/10/2021 - 27/02/2022

In [159]:
data_file_path = os.path.join(path,'DATACOVID_3.csv')    
data_3 = pd.read_csv(data_file_path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [160]:
data_3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [161]:
data_3.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN

ลบคอลัมน์ Unnamed: 11

In [162]:
data_3n = data_3.drop('Unnamed: 11', axis=1) #axis=1 คือ คอลัมน์

In [163]:
data_3n

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [164]:
data_3n.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [165]:
data_3n_drop = data_3n.dropna() #จัดการ missing 
data_3n_drop

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010370,2869528,27/2/2022,26/2/2022,หญิง,7.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,บางกอกน้อย
1010371,2869529,27/2/2022,26/2/2022,ชาย,38.0,ปี,French,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,จอมทอง
1010372,2869530,27/2/2022,26/2/2022,หญิง,58.0,ปี,French,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,จอมทอง
1010373,2869531,27/2/2022,26/2/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี
1010374,2869532,27/2/2022,26/2/2022,ชาย,64.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี

In [166]:
data_3n_drop.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

#Data Covid วันที่ 28/2/2022 - 15/3/2022

In [167]:
data_file_path = os.path.join(path,'DATACOVID_4.csv')    
data_4 = pd.read_csv(data_file_path)

In [168]:
data_4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357077,3226694,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357078,3226695,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357079,3226696,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357080,3226697,15/3/2022,14/3/2022,หญิง,NaN,NaN,NaN,ขอนแก่น,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [169]:
data_4.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [170]:
data_4_drop = data_4.dropna()
data_4_drop

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
357022,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357023,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357024,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี
357025,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว
357026,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง

In [171]:
data_4_drop.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

#รวมData Covid (ตั้งแต่วันที่ 12/01/2020 - 18/03/2022)

คำอธิบายตาราง

* No. รหัสผู้ป่วย
* Announce Date วันที่แถลงข่าว
* Notification Date	วันที่กระทรวงได้รับรายงาน
* Sex เพศผู้ป่วย
* Age อายุของผู้ป่วย
* unit ปี 
* Nationality สัญชาติ
* Province of isolation จังหวัดที่รักษาตัว
* risk เสี่ยง
* Province of onset จังหวัดที่เริ่มพบว่าตัวเองมีอาการป่วย
* District of onset อำเภอที่เริ่มพบว่าตัวเองมีอาการป่วย

In [123]:
data_add = pd.concat([data_1_drop,data_2_drop,data_3n_drop,data_4_drop]) 
data_add

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
47,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน
124,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี
161,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง
181,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง
186,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ
...,...,...,...,...,...,...,...,...,...,...,...
357022,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357023,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357024,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี
357025,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว
357026,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง

In [124]:
data_add.drop(['No.'], axis=1, inplace=True)   #drop ข้อมูลออกให้เหลือเฉพาะอันที่เราต้องการ
data_add

,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
47,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน
124,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี
161,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง
181,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง
186,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ
...,...,...,...,...,...,...,...,...,...,...
357022,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357023,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357024,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี
357025,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว
357026,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง

In [125]:
data_add.isnull().any()

announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

In [126]:
set(data_add['province_of_isolation'])

{'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภููเก็ต',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [127]:
data_add['province_of_isolation'].replace({'กทม':'กรุงเทพมหานคร'}, inplace=True) #ใช้คำสั่ง replace แทนที่ตัวที่ผิด

In [128]:
set(data_add['province_of_isolation'])

{'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภููเก็ต',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [129]:
len(set(data_add['province_of_isolation']))

78

In [130]:
set(data_add['province_of_onset'])

{'\tประจวบคีรีขันธ์',
 'USA',
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขัยนาท',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรีมย์',
 'ปจ',
 'ปทุทธานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัตาตานี',
 'ปััตตานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระยอง',
 'ระยอง\xa0',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำลูกกา',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สวิสเซอร์แลนด์',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อำนาจเจริญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชีียงราย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่ระบุ'}

In [131]:
data_add['province_of_onset'].replace({'\tประจวบคีรีขันธ์':'ประจวบคีรีขันธ์','USA':'ไม่มีข้อมูล','\xa0กาญจนบุรี':'กาญจนบุรี','\xa0ชลบุรี':'ชลบุรี','\xa0ตราด':'ตราด','\xa0นครปฐม':'นครปฐม',
                                            '\xa0สมุทรสงคราม':'สมุทรสงคราม','\xa0สมุทรสาคร':'สมุทรสาคร','\xa0อุทัยธานี':'อุทัยธานี','กทม':'กรุงเทพมหานคร','กทม.':'กรุงเทพมหานคร','กบินทร์บุรี':'ปราจีนบุรี','กระบี่':'กระบี่',
                                            'กระบี่ี่':'กระบี่','กรุงเทพ':'กรุงเทพมหานคร','กรุงเทพมหานคร':'กรุงเทพมหานคร', 'กรุงเทพมหานคร.':'กรุงเทพมหานคร','กรุงเทพมหานคร. / พระนครศรีอยุธยา':'กรุงเทพมหานคร','กรุงเทพมหานคร. / ศรีสะเกษ':'กรุงเทพมหานคร',
                                            'กรุงเทพฯ':'กรุงเทพมหานคร','กะทู้':'ภูเก็ต','กัมพูชา':'ไม่มีข้อมูล','กาญจนบุรี':'กาญจนบุรี','กาญจบุรี':'กาญจนบุรี','กาญนบุรี':'กาญจนบุรี','กาฬสิน':'กาฬสินธุ์','กาฬสินธิ์':'กาฬสินธุ์','กาฬสินธุ์':'กาฬสินธุ์','กาฬสินธุ์\xa0':'กาฬสินธุ์',
                                            'กาฬสินธ์':'กาฬสินธุ์','กำแพง':'กำแพงเพชร','กำแพงเพชร':'กำแพงเพชร', 'กำแพงเพชร\xa0':'กำแพงเพชร','กําแพงเพชร':'กำแพงเพชร','ขอนแก่น':'ขอนแก่น','ขอนแก่น\xa0':'ขอนแก่น','ขัยนาท':'ชัยนาท',
                                            'ขัยภูมิ':'ชัยภูมิ','ขานุวรลักษณ์บุรี':'กำแพงเพชร','คนไทยเดินทางกลับจากต่างประเทศ':'ไม่มีข้อมูล','คลองเตย':'กรุงเทพมหานคร','จ.กรุงเทพมหานคร':'กรุงเทพมหานคร','จ.ภูเก็ต':'ภูเก็ต', 'จ.ราชบุรี':'ราชบุรี',
                                            'จังหวัดสมุทรสาคร':'สมุทรสาคร','จันทบุรี':'จันทรบุรี','ฉะเชองเทราร':'ฉะเชิงเทรา','ฉะเชิงเทรา':'ฉะเชิงเทรา','ชมพร':'ชุมพร','ชลบุรี':'ชลบุรี','ชลบุรี\t':'ชลบุรี','ชลบุรี\xa0':'ชลบุรี','ชอนแก่น':'ขอนแก่น',
                                            'ชัยนาถ':'ชัยนาท','ชัยนาท':'ชัยนาท','ชัยบาดาล':'ลพบุรี','ชัยภูมิ':'ชัยภูมิ','ชัยภูมิ\xa0':'ชัยภูมิ','ชุมพร':'ชุมพร', 'ชุุมพร':'ชุมพร','ชุุุมพร':'ชุมพร','ดอนมดแดง':'อุบลราชธานี','ดินแดง':'กรุงเทพมหานคร',
                                            'ตรัง':'ตรัง','ตรััง':'ตรัง','ตราด':'ตราด','ตราด\xa0':'ตราด','ตาก':'ตาก','ต่างจังหวัด':'ไม่มีข้อมูล','ทุ่งเสลี่ยม':'สุโขทัย','นคนปฐม':'นครปฐม','นคปฐม':'นครปฐม','นครนปฐม':'นครปฐม',
                                            'นครนาชสีมา':'นครราชสีมา','นครนายก':'นครนายก','นครปฐม':'นครปฐม','นครปฐม\xa0':'นครปฐม','นครปบม':'นครปฐม','นครพนม':'นครพนม','นครพนม\xa0':'นครพนม','นครยายก':'นครนายก',
                                            'นครราชธานี':'นครราชสีมา','นครราชศรีมา':'นครราชสีมา','นครราชสสีมา':'นครราชสีมา','นครราชสีมา':'นครราชสีมา','นครราชสีมา\xa0':'นครราชสีมา',
                                            'นครศรธรรมราช':'นครศรีธรรมราช','นครศรี':'นครศรีธรรมราช','นครศรีธรมราช':'นครศรีธรรมราช','นครศรีธรรมราข':'นครศรีธรรมราช','นครศรีธรรมราช':'นครศรีธรรมราช','นครศรีฯ':'นครศรีธรรมราช',
                                            'นครศรีีธรรมราช':'นครศรีธรรมราช','นครศร๊ธรรมราช':'นครศรีธรรมราช','นครศร๊ะรรมราช':'นครศรีธรรมราช','นครสรรค์':'นครสวรรค์','นครสวรรค':'นครสวรรค์','นครสวรรค์':'นครสวรรค์','นครสวรรค์\xa0':'นครสวรรค์',
                                            'นครสีธรรมราช':'นครศรีธรรมราช','นครฯ':'นครศรีธรรมราช','นคราชสีมา':'นครราชสีมา','นครีศรีธรรมราช':'นครศรีธรรมราช','นตรนายก':'นครนายก','นตรปฐม':'นครปฐม',
                                            'นนทบุรี':'นนทบุรี','นนทบุรี\xa0':'นนทบุรี','นนทุบรี':'นนทบุรี','นนทุรี':'นนทบุรี','นนมบุรี':'นนทบุรี','นรศรีธรรมราช':'นครศรีธรรมราช','นราธิวาส':'นราธิวาส','นราธิวาส\u200b':'นราธิวาส',
                                            'นราธฺวาส':'นราธิวาส','นอกเขต':'ไม่มีข้อมูล','นาราธิวาส':'นราธิวาส','นาวัง':'หนองบัวลำภู','น่าน':'น่าน','น่าน/ฉะเชิงเทรา':'น่าน','บางกรวย':'นนทบุรี','บางกะปิ':'กรุงเทพมหานคร','บางนา':'กรุงเทพมหานคร',
                                            'บางปะอิน':'พระนครศรีอยุธยา','บางละมุง':'ชลบุรี','บางเพียง':'สมุทรปราการ','บึงกาฬ':'บึงกาฬ','บึงโขงหลง':'บึงกาฬ','บุรีรัมภ์':'บุรีรัมย์','บุรีรัมย์':'บุรีรัมย์','บุรีรัมย์\xa0':'บุรีรัมย์','บุรีรีมย์':'บุรีรัมย์',
                                            'ปจ':'ไม่มีข้อมูล','ปทุทธานี':'ปทุมธานี','ปทุมทานี':'ปทุมธานี', 'ปทุมธาน':'ปทุมธานี','ปทุมธานี':'ปทุมธานี','ปทุมธานี.':'ปทุมธานี','ปทุมธานี\xa0':'ปทุมธานี','ปทุมาธานี':'ปทุมธานี',
                                            'ปทุุมธานี':'ปทุมธานี','ปธุมธานี':'ปทุมธานี','ปมุมธานี':'ปทุมธานี','ประจวนคีรีขันธ็':'ประจวบคีรีขันธ์','ประจวบ':'ประจวบคีรีขันธ์','ประจวบคิรีขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรขันธ์':'ประจวบคีรีขันธ์',
                                            'ประจวบคีรขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีรีขัน':'ประจวบคีรีขันธ์','ประจวบคีรีขันธื':'ประจวบคีรีขันธ์','ประจวบคีรีขันธฺ':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์\xa0':'ประจวบคีรีขันธ์',
                                            'ประจวบคีรีขันธ์์':'ประจวบคีรีขันธ์','ประจวบคีรีขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีีรีขันธ์':'ประจวบคีรีขันธ์','ประจวบฯ':'ประจวบคีรีขันธ์','ประทุมธานี':'ปทุมธานี',
                                            'ปราจีนบุรี':'ปราจีนบุรี','ปราจีบุรี':'ปราจีนบุรี','ปลวกแดง':'ระยอง','ปลายพระยา':'กระบี่','ปอยเปต':'ไม่มีข้อมูล','ปัตตนรี':'ปัตตานี','ปัตตานนี':'ปัตตานี','ปัตตานี':'ปัตตานี','ปัตตานีี':'ปัตตานี','ปัตาตานี':'ปัตตานี',
                                            'ปััตตานี':'ปัตตานี','ป่าโมก':'อ่างทอง','พม่า':'ไม่มีข้อมูล','พรหมพิราม':'พิษณุโลก','พระนครศรียุธยา':'พระนครศรีอยุธยา','พระนครศรีอยุทธยา':'พระนครศรีอยุธยา',
                                            'พระนครศรีอยุทยา':'พระนครศรีอยุธยา','พระนครศรีอยุธยา':'พระนครศรีอยุธยา','พระนครศรีอยุธยา\xa0':'พระนครศรีอยุธยา','พะเยา':'พะเยา','พังงา':'พังงา','พัทยา':'ชลบุรี','พัทลุง':'พัทลุง','พัทลุุง':'พัทลุง',
                                            'พัังงา':'พังงา','พิจิตร':'พิจิตร','พิษณุโลก':'พิษณุโลก','พิษณุโลก\xa0':'พิษณุโลก','พิษณูโลก':'พิษณุโลก','ภาษีเจริญ':'กรุงเทพมหานคร','ภุเก็ต':'ภูเก็ต','ภูุเก็ต':'ภูเก็ต','ภููเก็ต':'ภูเก็ต','ภูเก็ต':'ภูเก็ต',
                                            'ภูเก็็ต':'ภูเก็ต','มหาสาคาม':'มหาสารคาม','มหาสารคาม':'มหาสารคาม','มาเลเซีย':'ไม่มีข้อมูล','มุกดาหาร':'มุกดาหาร','ยะลา':'ยะลา','ยานนาวา':'กรุงเทพมหานคร','ยโสธร':'ยโสธร','ร.จ.จ.นราธิวาส':'นราธิวาส',
                                            'รอ':'ร้อยเอ็ด','ระนอง':'ระนอง','ระยอง':'ระยอง','ระยอง\xa0':'ระยอง','ราชบบุรี':'ราชบุรี','ราชบุรี':'ราชบุรี','ราชบุรี\u200b':'ราชบุรี','ราชุรี':'ราชบุรี','ราชเทวี':'กรุงเทพมหานคร','ร้อยเอ็ด':'ร้อยเอ็ด',
                                            'ลบุรี':'ลพบุรี','ลพบุรี':'ลพบุรี','ลพบุรี.':'ลพบุรี','ลพบุรี\xa0':'ลพบุรี','ลาดกระบัง':'กรุงเทพมหานคร','ลาดพร้าว':'กรุงเทพมหานคร','ลาว':'ไม่มีข้อมูล','ลำปาง':'ลำปาง','ลำพูน':'ลำพูน',
                                            'ลำลูกกา':'ปทุมธานี','วังทอง':'ลำปาง','วิเศษชัยชาญ':'พิษณุโลก','ศรีษะสะเกษ':'ศรีสะเกษ','ศรีษะเกษ':'ศรีสะเกษ','ศรีสระเกษ':'ศรีสะเกษ','ศรีสะเกษ':'ศรีสะเกษ','ศีรสะเกษ':'ศรีสะเกษ',
                                            'สกลนคร':'สกลนคร','สครสวรรค์':'นครสวรรค์','สงขลา':'สงขลา','สงขลา\u200b':'สงขลา','สตูล':'สตูล','สถานที่ทำงาน':'ไม่มีข้อมูล','สพรรณบุรี':'สุพรรณบุรี','สมถทรปราการ':'สมุทรปราการ',
                                            'สมทรสงคราม':'สมุทรสงคราม','สมุครสาคร':'สมุทรสาคร','สมุท':'ไม่มีข้อมูล','สมุทปราการ':'สมุทรปราการ','สมุทรปรากรร':'สมุทรปราการ','สมุทรปรากา':'สมุทรปราการ',
                                            'สมุทรปราการ':'สมุทรปราการ','สมุทรปราการ\xa0':'สมุทรปราการ','สมุทรศาคร':'สมุทรสาคร','สมุทรสงคราม':'สมุทรสงคราม','สมุทรสาคร':'สมุทรสาคร','สมุทรสาคร\xa0':'สมุทรสาคร',
                                            'สมุทรสาคา':'สมุทรสาคร','สมุทรสาคาร':'สมุทรสาคร','สมุทรสาทร':'สมุทรสาคร','สมุทรสารคร':'สมุทรสาคร','สมุทราปราการ':'สมุทรปราการ','สมุทราสาคร':'สมุทรสาคร','สมุทสงคราม':'สมุทรสงคราม',
                                            'สมุทสาคร':'สมุทรสาคร','สมุย':'สุราษฎร์ธานี','สมุุทรปราการ':'สมุทรปราการ','สมุุทรสงคราม':'สมุทรสงคราม','สมุุทรสาคร':'สมุทรสาคร','สระก้ว':'สระแก้ว',
                                            'สระบุรี':'สระบุรี','สระบุรี\xa0':'สระบุรี','สระแก้ว':'สระแก้ว','สวิสเซอร์แลนด์':'ไม่มีข้อมูล','สะพานสูง':'กรุงเทพมหานคร','สะแก้ว':'สระแก้ว','สัตหีบ':'ชลบุรี','สัมผัสผู้ป่วยยืนยัน COVID20':'ไม่มีข้อมูล',
                                            'สิงห์บุรี':'สิงห์บุรี','สิงห์บุรี\xa0':'สิงห์บุรี','สุทรปราการ':'สมุทรปราการ','สุพรรญบุรี':'สุพรรณบุรี','สุพรรณบุรั':'สุพรรณบุรี','สุพรรณบุรี':'สุพรรณบุรี','สุมทรปราการ':'สมุทรปราการ',
                                            'สุมทรสาคร':'สมุทรสาคร','สุมุทรปราการ':'สมุทรปราการ','สุมุทรสาคร':'สมุทรสาคร','สุระบุรี':'สระบุรี','สุราษ':'สุราษฎร์ธานี','สุราษฎณ์ธานี':'สุราษฎร์ธานี','สุราษฎธานี':'สุราษฎร์ธานี',
                                            'สุราษฎร์':'สุราษฎร์ธานี','สุราษฎร์ธานี':'สุราษฎร์ธานี','สุราษฎร์ฯ':'สุราษฎร์ธานี','สุราษฎร์์ธานี':'สุราษฎร์ธานี','สุราษฎ์ธานี':'สุราษฎร์ธานี','สุราษฏร์ธานี':'สุราษฎร์ธานี','สุราษธานี':'สุราษฎร์ธานี',
                                            'สุราษร์ฎธานี':'สุราษฎร์ธานี','สุราษร์ธานี':'สุราษฎร์ธานี','สุราษฯ':'สุราษฎร์ธานี','สุรินทรื':'สุรินทร์','สุรินทร์':'สุรินทร์','สุรินทร์ 32150':'สุรินทร์','สุรินทร์,รีสะเกษ':'สุรินทร์','สุรินทร์\xa0':'สุรินทร์',
                                            'สุริมทร์':'สุรินทร์','สุริะแก้ว':'สระแก้ว','สุวรรณภูมิ':'สมุทรปราการ','สุุราษฎร์ธานี':'สุราษฎร์ธานี','สุุราษฏร์ธานี':'สุราษฎร์ธานี','สุุราษฯ':'สุราษฎร์ธานี','สุุรินทร์':'สุรินทร์','สุุุโขทัย':'สุโขทัย','สุโขทับ':'สุโขทัย',
                                            'สุโขทัย':'สุโขทัย','สุโขทัย\xa0':'สุโขทัย','หนวงบัวลำภู':'หนองบัวลำภู','หนองคาย':'หนองคาย','หนองงคาย':'หนองคาย','หนองบัวภู':'หนองบัวลำภู','หนองบัวลำพูน':'หนองบัวลำพูน','หนองบัวลำภู':'หนองบัวลำภู',
                                            'หนองบัวลําภู':'หนองบัวลำภู','หนองบััวลำภู':'หนองบัวลำภู','หัวหิน':'ประจวบคีรีขันธ์','ห้วยขวาง':'กรุงเทพมหานคร','อยุทธยา':'พระนครศรีอยุธยา','อยุธยา':'พระนครศรีอยุธยา','อำนาจเจริญ':'อำนาจเจริญ',
                                            'อำนาญเจริญ':'อำนาจเจริญ','อำนาเจริญ':'อำนาจเจริญ','อิสราเอล':'ไม่มีข้อมูล','อุดธานี':'อุดรธานี','อุดร':'อุดรธานี','อุดรธาณี':'อุดรธานี','อุดรธานี':'อุดรธานี','อุดรธานี\xa0':'อุดรธานี','อุดรธานีี':'อุดรธานี','อุดรราชธานี':'อุดรธานี',
                                            'อุตรดิตถ์':'อุตรดิตถ์','อุตรดิตถ์\xa0':'อุตรดิตถ์','อุตรดิตถ์์':'อุตรดิตถ์','อุตรดิิตถ์':'อุตรดิตถ์','อุตรติดถ์':'อุตรดิตถ์','อุทัยธานี':'อุทัยธานี','อุทัยานี':'อุทัยธานี','อุบลราขธานี':'อุบลราชธานี','อุบลราชธานี':'อุบลราชธานี',
                                            'อุบลราชธานี\xa0':'อุบลราชธานี','อุุครดิตถ์':'อุตรดิตถ์','อุุดรธาน':'อุตรดิตถ์','อุุดรธานี':'อุดรธานี','อุุตรดิตถ์':'อุตรดิตถ์','อุุทัยธานี':'อุทัยธานี','อ่งทอง':'อ่างทอง','อ่างทอง':'อ่างทอง','อ่างทอง\xa0':'อ่างทอง',
                                            'อํานาจเจริญ':'อำนาจเจริญ','เชิงเทรา':'ฉะเชิงเทรา','เชียงราย':'เชียงราย','เชียงใหม่':'เชียงใหม่','เชีียงราย':'เชียงราย','เพขรบุรี':'เพชรบุรี','เพขรบูรณื':'เพชรบูรณ์','เพขรบูรณ์':'เพชรบูรณ์','เพชรบุรณ์':'เพชรบูรณ์',
                                            'เพชรบุรี':'เพชรบุรี','เพชรบุรึ':'เพชรบุรี','เพชรบุุรี':'เพชรบุรี','เพชรบุูรณ์':'เพชรบูรณ์','เพชรบูรณ์':'เพชรบูรณ์','เพชรบูรณ์\xa0':'เพชรบูรณ์','เพชรบูร์':'เพชรบูรณ์','เพชรบููรณ์':'เพชรบูรณ์','เมือง':'ไม่มีข้อมูล',
                                            'เมืองตาก':'ตาก','เมืองน่าน':'น่าน','เมืองปัตตานี':'ปัตตานี','เรือ':'ไม่มีข้อมูล','เลย':'เลย','เลย\xa0':'เลย','เวียงจันทร์':'ไม่มีข้อมูล','แพร่':'แพร่','แม่ทะ':'ลำปาง','แม่ฮ่องสอน':'แม่ฮ่องสอน','แล้วป่วย':'ไม่มีข้อมูล','โพธิ์ทอง':'อ่างทอง',
                                            'ไชโย':'อ่างทอง','ขลบุรี':'ชลบุรี','ไม่ระบุ':'ไม่มีข้อมูล'}, inplace=True)

In [132]:
set(data_add['province_of_onset'])

{'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทรบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่มีข้อมูล'}

In [133]:
len(set(data_add['province_of_onset']))

79

In [134]:
data_add.isnull().any()

announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

#ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA

In [135]:
data_file_path = os.path.join(path,'ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA.csv')    
data_5 = pd.read_csv(data_file_path)

In [136]:
data_5

,สถานพยาบาลที่ได้รับการรับรองกระบวนการคุณภาพสถานพยาบาล (HA) และขั้นก้าวหน้า (A-HA) (ข้อมูล ณ 31 สิงหาคม 2564),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ขั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
1,1,1,เชียงราย,ทั่วไปขนาดกลางกรุงเทพเชียงราย,41574,เอกชน,เอกชน,0,NaN,NaN
2,2,1,เชียงราย,แม่ฟ้าหลวง,11200,รัฐในสังกัดสป.สธ.,รพช.,r1,22/10/2018,21/10/2021
3,3,1,เชียงราย,เทิง,11189,รัฐในสังกัดสป.สธ.,รพช.,r1,11/2/2020,10/2/2023
4,4,1,เชียงราย,ดอยหลวง,28823,รัฐในสังกัดสป.สธ.,รพช.,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1474,1474,13,กรุงเทพมหานคร,มิชชั่นโรงพยาบาลทั่วไปขนาดใหญ่,11543,เอกชน,สมาคมโรงพยาบาลเอกชน,r4e,4/3/2020,3/3/2021
1475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1476,หมายเหตุ,A-HA = โรงพยาบาลที่ได้รับการรับรองกระบวนการค...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1477,สถานะขั้นปัจจุบันที่มีตัวอักษร e (expired) =...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1478,สถานะขั้นปัจจุบัน r (Re-Accreditation ) = โ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
data_5.head()

,สถานพยาบาลที่ได้รับการรับรองกระบวนการคุณภาพสถานพยาบาล (HA) และขั้นก้าวหน้า (A-HA) (ข้อมูล ณ 31 สิงหาคม 2564),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ขั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
1,1,1,เชียงราย,ทั่วไปขนาดกลางกรุงเทพเชียงราย,41574,เอกชน,เอกชน,0,NaN,NaN
2,2,1,เชียงราย,แม่ฟ้าหลวง,11200,รัฐในสังกัดสป.สธ.,รพช.,r1,22/10/2018,21/10/2021
3,3,1,เชียงราย,เทิง,11189,รัฐในสังกัดสป.สธ.,รพช.,r1,11/2/2020,10/2/2023
4,4,1,เชียงราย,ดอยหลวง,28823,รัฐในสังกัดสป.สธ.,รพช.,0,NaN,NaN

แก้ไขหัวตารางเนื่องจากชื่อผิด

In [138]:
data_5re = data_5.rename(columns={'สถานพยาบาลที่ได้รับการรับรองกระบวนการคุณภาพสถานพยาบาล (HA) และขั้นก้าวหน้า (A-HA) (ข้อมูล ณ 31 สิงหาคม 2564)': 'No.', 'Unnamed: 1': 'เขต', 'Unnamed: 2': 'จังหวัด' , 'Unnamed: 3': 'โรงพยาบาล', 'Unnamed: 4': 'H Code', 'Unnamed: 5': 'สังกัด', 'Unnamed: 6': 'ชนิดรพ.', 'Unnamed: 7': 'ชั้นปัจจุบัน', 'Unnamed: 8': 'วันรับรอง', 'Unnamed: 9': 'วันหมดอายุ'})

In [139]:
data_5re

,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ชั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
0,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ขั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
1,1,1,เชียงราย,ทั่วไปขนาดกลางกรุงเทพเชียงราย,41574,เอกชน,เอกชน,0,NaN,NaN
2,2,1,เชียงราย,แม่ฟ้าหลวง,11200,รัฐในสังกัดสป.สธ.,รพช.,r1,22/10/2018,21/10/2021
3,3,1,เชียงราย,เทิง,11189,รัฐในสังกัดสป.สธ.,รพช.,r1,11/2/2020,10/2/2023
4,4,1,เชียงราย,ดอยหลวง,28823,รัฐในสังกัดสป.สธ.,รพช.,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1474,1474,13,กรุงเทพมหานคร,มิชชั่นโรงพยาบาลทั่วไปขนาดใหญ่,11543,เอกชน,สมาคมโรงพยาบาลเอกชน,r4e,4/3/2020,3/3/2021
1475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1476,หมายเหตุ,A-HA = โรงพยาบาลที่ได้รับการรับรองกระบวนการค...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1477,สถานะขั้นปัจจุบันที่มีตัวอักษร e (expired) =...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1478,สถานะขั้นปัจจุบัน r (Re-Accreditation ) = โ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
data_5re = data_5re.drop(labels=0, axis=0) #ตัดแถวที่ข้อมูลเป็นชื่อหัวคอลัมน์ออก axis=0 -> row

In [141]:
data_5re

,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ชั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
1,1,1,เชียงราย,ทั่วไปขนาดกลางกรุงเทพเชียงราย,41574,เอกชน,เอกชน,0,NaN,NaN
2,2,1,เชียงราย,แม่ฟ้าหลวง,11200,รัฐในสังกัดสป.สธ.,รพช.,r1,22/10/2018,21/10/2021
3,3,1,เชียงราย,เทิง,11189,รัฐในสังกัดสป.สธ.,รพช.,r1,11/2/2020,10/2/2023
4,4,1,เชียงราย,ดอยหลวง,28823,รัฐในสังกัดสป.สธ.,รพช.,0,NaN,NaN
5,5,1,เชียงราย,เชียงแสน,11193,รัฐในสังกัดสป.สธ.,รพช.,r3,3/3/2020,2/3/2023
...,...,...,...,...,...,...,...,...,...,...
1474,1474,13,กรุงเทพมหานคร,มิชชั่นโรงพยาบาลทั่วไปขนาดใหญ่,11543,เอกชน,สมาคมโรงพยาบาลเอกชน,r4e,4/3/2020,3/3/2021
1475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1476,หมายเหตุ,A-HA = โรงพยาบาลที่ได้รับการรับรองกระบวนการค...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1477,สถานะขั้นปัจจุบันที่มีตัวอักษร e (expired) =...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1478,สถานะขั้นปัจจุบัน r (Re-Accreditation ) = โ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

เชค missing

In [142]:
data_5re.isnull().any() #False = ไม่มี Missing True = มี Missing พบว่า มี missing ทุกคอลัมน์

No.             True
เขต             True
จังหวัด         True
โรงพยาบาล       True
H Code          True
สังกัด          True
ชนิดรพ.         True
ชั้นปัจจุบัน    True
วันรับรอง       True
วันหมดอายุ      True
dtype: bool

In [143]:
data_5re_drop = data_5re.dropna()
data_5re_drop

,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ชั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
2,2,1,เชียงราย,แม่ฟ้าหลวง,11200,รัฐในสังกัดสป.สธ.,รพช.,r1,22/10/2018,21/10/2021
3,3,1,เชียงราย,เทิง,11189,รัฐในสังกัดสป.สธ.,รพช.,r1,11/2/2020,10/2/2023
5,5,1,เชียงราย,เชียงแสน,11193,รัฐในสังกัดสป.สธ.,รพช.,r3,3/3/2020,2/3/2023
6,6,1,เชียงราย,เกษมราษฎร์ ศรีบุรินทร์,12026,เอกชน,สมาคมโรงพยาบาลเอกชน,r2,12/2/2019,11/2/2022
7,7,1,เชียงราย,แม่จัน,11192,รัฐในสังกัดสป.สธ.,รพช.,r4,19/12/2020,18/12/2021
...,...,...,...,...,...,...,...,...,...,...
1469,1469,13,กรุงเทพมหานคร,สถาบันกัลยาณ์ราชนครินทร์,11597,รัฐในสังกัดสธ.,กรมสุขภาพจิต,r5,20/2/2021,19/2/2024
1470,1470,13,กรุงเทพมหานคร,ทั่วไปขนาดใหญ่วิชัยยุทธ,11714,เอกชน,เอกชน,r1,24/3/2021,23/3/2024
1471,1471,13,กรุงเทพมหานคร,เวชศาสตร์เขตร้อน คณะเวชศาสตร์เขตร้อน มหาวิทยาล...,13757,กระทรวงศึกษาธิการ,กระทรวงศึกษาธิการ,r2,11/6/2019,10/6/2022
1472,1472,13,กรุงเทพมหานคร,กรุงเทพคริสเตียน,11548,เอกชน,สมาคมโรงพยาบาลเอกชน,r2,28/5/2019,27/5/2022
1474,1474,13,กรุงเทพมหานคร,มิชชั่นโรงพยาบาลทั่วไปขนาดใหญ่,11543,เอกชน,สมาคมโรงพยาบาลเอกชน,r4e,4/3/2020,3/3/2021

In [144]:
data_5re_drop.drop(['No.','เขต','H Code'], axis=1, inplace=True)   #drop ข้อมูลออกให้เหลือเฉพาะอันที่เราต้องการ
data_5re_drop

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,จังหวัด,โรงพยาบาล,สังกัด,ชนิดรพ.,ชั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
2,เชียงราย,แม่ฟ้าหลวง,รัฐในสังกัดสป.สธ.,รพช.,r1,22/10/2018,21/10/2021
3,เชียงราย,เทิง,รัฐในสังกัดสป.สธ.,รพช.,r1,11/2/2020,10/2/2023
5,เชียงราย,เชียงแสน,รัฐในสังกัดสป.สธ.,รพช.,r3,3/3/2020,2/3/2023
6,เชียงราย,เกษมราษฎร์ ศรีบุรินทร์,เอกชน,สมาคมโรงพยาบาลเอกชน,r2,12/2/2019,11/2/2022
7,เชียงราย,แม่จัน,รัฐในสังกัดสป.สธ.,รพช.,r4,19/12/2020,18/12/2021
...,...,...,...,...,...,...,...
1469,กรุงเทพมหานคร,สถาบันกัลยาณ์ราชนครินทร์,รัฐในสังกัดสธ.,กรมสุขภาพจิต,r5,20/2/2021,19/2/2024
1470,กรุงเทพมหานคร,ทั่วไปขนาดใหญ่วิชัยยุทธ,เอกชน,เอกชน,r1,24/3/2021,23/3/2024
1471,กรุงเทพมหานคร,เวชศาสตร์เขตร้อน คณะเวชศาสตร์เขตร้อน มหาวิทยาล...,กระทรวงศึกษาธิการ,กระทรวงศึกษาธิการ,r2,11/6/2019,10/6/2022
1472,กรุงเทพมหานคร,กรุงเทพคริสเตียน,เอกชน,สมาคมโรงพยาบาลเอกชน,r2,28/5/2019,27/5/2022
1474,กรุงเทพมหานคร,มิชชั่นโรงพยาบาลทั่วไปขนาดใหญ่,เอกชน,สมาคมโรงพยาบาลเอกชน,r4e,4/3/2020,3/3/2021

#ข้อมูลภูมิภาค

In [145]:
dataregion = [['อำนาจเจริญ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['บึงกาฬ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['บุรีรัมย์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['ชัยภูมิ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['กาฬสินธุ์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['ขอนแก่น','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['เลย','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['มหาสารคาม','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['มุกดาหาร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['นครพนม','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['นครราชสีมา','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['หนองบัวลำภู','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['หนองคาย','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['ร้อยเอ็ด','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['สกลนคร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['ศรีสะเกษ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['สุรินทร์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['อุบลราชธานี','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['อุดรธานี','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['ยโสธร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['เชียงใหม่','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['เชียงราย','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['ลำปาง','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['ลำพูน','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['แม่ฮ่องสอน','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['น่าน','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['พะเยา','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['แพร่','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['อุตรดิตถ์','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['ตาก','ตะวันออก','เหนือ','เหนือ','เหนือ'],
                ['สุโขทัย','กลาง','เหนือ','เหนือ','เหนือ'],
                ['พิษณุโลก','กลาง','เหนือ','เหนือ','เหนือ'],
                ['พิจิตร','กลาง','เหนือ','เหนือ','เหนือ'],
                ['กำแพงเพชร','กลาง','เหนือ','เหนือ','เหนือ'],
                ['เพชรบูรณ์','กลาง','เหนือ','เหนือ','เหนือ'],
                ['นครสวรรค์','กลาง','เหนือ','กลาง','เหนือ'],
                ['อุทัยธานี','กลาง','เหนือ','กลาง','เหนือ'],
                ['อ่างทอง','กลาง','กลาง','กลาง','กลาง'],
                ['ชัยนาท','กลาง','กลาง','กลาง','กลาง'],
                ['พระนครศรีอยุธยา','กลาง','กลาง','กลาง','กลาง'],
                ['กรุงเทพมหานคร','กลาง','กลาง','กลาง','กลาง'],
                ['ลพบุรี','กลาง','กลาง','กลาง','กลาง'],
                ['นครปฐม','กลาง','กลาง','กลาง','กลาง'],
                ['นนทบุรี','กลาง','กลาง','กลาง','กลาง'],
                ['ปทุมธานี','กลาง','กลาง','กลาง','กลาง'],
                ['สมุทรปราการ','กลาง','กลาง','กลาง','กลาง'],
                ['สมุทรสาคร','กลาง','กลาง','กลาง','กลาง'],
                ['สมุทรสงคราม','กลาง','กลาง','กลาง','กลาง'],
                ['สระบุรี','กลาง','กลาง','กลาง','กลาง'],
                ['สิงห์บุรี','กลาง','กลาง','กลาง','กลาง'],
                ['สุพรรณบุรี','กลาง','กลาง','กลาง','กลาง'],
                ['นครนายก','กลาง','กลาง','ตะวันออก','กลาง'],
                ['ฉะเชิงเทรา','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['จันทบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['ชลบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['ปราจีนบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['ระยอง','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['สระแก้ว','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['ตราด','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['กาญจนบุรี','ตะวันตก','กลาง','กลาง','กลาง'],
                ['ราชบุรี','ตะวันตก','กลาง','กลาง','กลาง'],
                ['เพชรบุรี','ตะวันตก','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','กลาง'],
                ['ประจวบคีรีขันธ์','ตะวันตก','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','กลาง'],
                ['ชุมพร','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['นครศรีธรรมราช','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['นราธิวาส','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['ปัตตานี','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['พัทลุง','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['สงขลา','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['สุราษฎร์ธานี','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['ยะลา','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['กระบี่','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
                ['พังงา','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
                ['ภูเก็ต','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
                ['ระนอง','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
                ['สตูล','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
                ['ตรัง','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้']]  

header = ['จังหวัด','6 ภูมิภาค (ภูมิศาสตร์)','4 ภูมิภาค (การเมือง)','6 ภูมิภาค (อุตุนิยมวิทยา)','5 ภูมิภาค (การท่องเที่ยว)']  #หัวตาราง

In [146]:
df_dataregion = pd.DataFrame.from_records(dataregion,columns=header) 
df_dataregion

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

In [147]:
df_dataregion.isnull().any()

จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

#รวมตารางข้อมูลทั้งหมด


* Data Covid (ตั้งแต่วันที่ 12/01/2020 - 18/03/2022)  (data_add3)
* ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA  (data_5re_drop)
* ข้อมูลภูมิภาค (df_dataregion)

รวมตาราง Covid กับ ตาราง ภูมิภาค

In [148]:
data_total1 = data_add.merge(df_dataregion,how='left',left_on='province_of_onset',right_on='จังหวัด') #รวมตาราง data_add3 ข้อมูลโควิด และ df_dataregion 
data_total1

,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
1,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี,ปทุมธานี,กลาง,กลาง,กลาง,กลาง
2,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง,สุราษฎร์ธานี,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
3,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง,ขอนแก่น,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ,ร้อยเอ็ด,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2361302,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361303,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361304,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361305,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361306,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง

In [149]:
data_total1.isnull().any()

announce_date                False
Notified date                False
sex                          False
age                          False
Unit                         False
nationality                  False
province_of_isolation        False
risk                         False
province_of_onset            False
district_of_onset            False
จังหวัด                       True
6 ภูมิภาค (ภูมิศาสตร์)        True
4 ภูมิภาค (การเมือง)          True
6 ภูมิภาค (อุตุนิยมวิทยา)     True
5 ภูมิภาค (การท่องเที่ยว)     True
dtype: bool

In [150]:
data_total1_drop = data_total1.dropna()
data_total1_drop

,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
1,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี,ปทุมธานี,กลาง,กลาง,กลาง,กลาง
2,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง,สุราษฎร์ธานี,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
3,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง,ขอนแก่น,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ,ร้อยเอ็ด,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2361302,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361303,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361304,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361305,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361306,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง

In [151]:
data_total1_drop.isnull().any()

announce_date                False
Notified date                False
sex                          False
age                          False
Unit                         False
nationality                  False
province_of_isolation        False
risk                         False
province_of_onset            False
district_of_onset            False
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

รวม 3 ตาราง ข้อมูล covid,ภูมิภาค และอมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA

In [152]:
data_total2 = data_total1_drop.merge(data_5re_drop,how='left',left_on='announce_date',right_on='วันหมดอายุ') 
data_total2

,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,...,4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จังหวัด_y,โรงพยาบาล,สังกัด,ชนิดรพ.,ชั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
0,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน,...,กลาง,กลาง,กลาง,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี,...,กลาง,กลาง,กลาง,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง,...,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5369203,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,...,กลาง,กลาง,กลาง,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5369204,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,...,กลาง,กลาง,กลาง,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5369205,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี,...,กลาง,กลาง,กลาง,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5369206,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว,...,กลาง,กลาง,กลาง,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5369207,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,...,กลาง,กลาง,กลาง,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
data_total2.isnull().any()

announce_date                False
Notified date                False
sex                          False
age                          False
Unit                         False
nationality                  False
province_of_isolation        False
risk                         False
province_of_onset            False
district_of_onset            False
จังหวัด_x                    False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
จังหวัด_y                     True
โรงพยาบาล                     True
สังกัด                        True
ชนิดรพ.                       True
ชั้นปัจจุบัน                  True
วันรับรอง                     True
วันหมดอายุ                    True
dtype: bool

In [154]:
data_total2_drop = data_total2.dropna()
data_total2_drop

,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,...,4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จังหวัด_y,โรงพยาบาล,สังกัด,ชนิดรพ.,ชั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
1826,14/5/2020,13/5/2020,ชาย,39.0,ปี,Thailand,เชียงใหม่,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,เชียงใหม่,สันกำแพง,...,เหนือ,เหนือ,เหนือ,ปทุมธานี,ภัทร-ธนบุรี,เอกชน,สมาคมโรงพยาบาลเอกชน,2e,15/5/2019,14/5/2020
1935,19/6/2020,18/6/2020,ชาย,24.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,ราชเทวี,...,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,2e,20/6/2019,19/6/2020
1936,19/6/2020,18/6/2020,ชาย,23.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,ราชเทวี,...,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,2e,20/6/2019,19/6/2020
1937,19/6/2020,18/6/2020,ชาย,27.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,ราชเทวี,...,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,2e,20/6/2019,19/6/2020
1938,19/6/2020,18/6/2020,ชาย,23.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,ราชเทวี,...,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,2e,20/6/2019,19/6/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5184282,4/3/2022,3/3/2022,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,บางคอแหลม,...,กลาง,กลาง,กลาง,เชียงใหม่,ตาเซนต์ปีเตอร์,เอกชน,เอกชน,2,5/3/2021,4/3/2022
5184283,4/3/2022,3/3/2022,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,บางคอแหลม,...,กลาง,กลาง,กลาง,ปทุมธานี,กรุงสยามเซนต์คาร์ลอส,เอกชน,สมาคมโรงพยาบาลเอกชน,2,5/3/2021,4/3/2022
5184284,4/3/2022,3/3/2022,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,บางคอแหลม,...,กลาง,กลาง,กลาง,นครพนม,นาหว้า,รัฐในสังกัดสป.สธ.,รพช.,2,5/3/2021,4/3/2022
5184285,4/3/2022,3/3/2022,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,บางคอแหลม,...,กลาง,กลาง,กลาง,หนองคาย,เฝ้าไร่,รัฐในสังกัดสป.สธ.,รพช.,2,5/3/2021,4/3/2022
5184286,4/3/2022,3/3/2022,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,บางคอแหลม,...,กลาง,กลาง,กลาง,ปัตตานี,สิโรรส ปัตตานี,เอกชน,เอกชน,1,5/3/2021,4/3/2022

In [155]:
data_project = data_total2_drop.rename(columns={'จังหวัด_x': 'จังหวัดภูมิภาค', 'จังหวัด_y': 'จังหวัดของโรงพยาบาล'})
data_project

,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,...,4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จังหวัดของโรงพยาบาล,โรงพยาบาล,สังกัด,ชนิดรพ.,ชั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
1826,14/5/2020,13/5/2020,ชาย,39.0,ปี,Thailand,เชียงใหม่,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,เชียงใหม่,สันกำแพง,...,เหนือ,เหนือ,เหนือ,ปทุมธานี,ภัทร-ธนบุรี,เอกชน,สมาคมโรงพยาบาลเอกชน,2e,15/5/2019,14/5/2020
1935,19/6/2020,18/6/2020,ชาย,24.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,ราชเทวี,...,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,2e,20/6/2019,19/6/2020
1936,19/6/2020,18/6/2020,ชาย,23.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,ราชเทวี,...,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,2e,20/6/2019,19/6/2020
1937,19/6/2020,18/6/2020,ชาย,27.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,ราชเทวี,...,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,2e,20/6/2019,19/6/2020
1938,19/6/2020,18/6/2020,ชาย,23.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,ราชเทวี,...,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,2e,20/6/2019,19/6/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5184282,4/3/2022,3/3/2022,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,บางคอแหลม,...,กลาง,กลาง,กลาง,เชียงใหม่,ตาเซนต์ปีเตอร์,เอกชน,เอกชน,2,5/3/2021,4/3/2022
5184283,4/3/2022,3/3/2022,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,บางคอแหลม,...,กลาง,กลาง,กลาง,ปทุมธานี,กรุงสยามเซนต์คาร์ลอส,เอกชน,สมาคมโรงพยาบาลเอกชน,2,5/3/2021,4/3/2022
5184284,4/3/2022,3/3/2022,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,บางคอแหลม,...,กลาง,กลาง,กลาง,นครพนม,นาหว้า,รัฐในสังกัดสป.สธ.,รพช.,2,5/3/2021,4/3/2022
5184285,4/3/2022,3/3/2022,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,บางคอแหลม,...,กลาง,กลาง,กลาง,หนองคาย,เฝ้าไร่,รัฐในสังกัดสป.สธ.,รพช.,2,5/3/2021,4/3/2022
5184286,4/3/2022,3/3/2022,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,บางคอแหลม,...,กลาง,กลาง,กลาง,ปัตตานี,สิโรรส ปัตตานี,เอกชน,เอกชน,1,5/3/2021,4/3/2022

Warning: Total number of columns (22) exceeds max_columns (20) limiting to first (20) columns.
Warning: total number of rows (3597176) exceeds max_rows (20000). Limiting to first (20000) rows.

In [173]:
data_gb = data_project.groupby('โรงพยาบาล').size().reset_index(name='ยอดจำนวนผู้ติดเชื้อ') 
data_gb

      โรงพยาบาล  ยอดจำนวนผู้ติดเชื้อ
0         กงหรา                 1243
1      กงไกรลาศ                 6507
2       กมลาไสย                15195
3      กรงปินัง                12323
4    กระทุ่มแบน                 1382
..          ...                  ...
551        ไชโย                 1311
552      ไทรงาม                 4389
553      ไทรโยค                 4812
554      ไพรบึง                 3803
555     ไม้แก่น                 2741

[556 rows x 2 columns]

In [174]:
data_prohos = data_project.groupby('sex').size().reset_index(name='ยอดจำนวนผู้ติดเชื้อ') 
data_prohos

    sex  ยอดจำนวนผู้ติดเชื้อ
0   ชาย              1655446
1  หญิง              1941730

In [175]:
data_pro = data_project.groupby('province_of_onset').size().reset_index(name='ยอดจำนวนผู้ติดเชื้อ') 
data_pro

   province_of_onset  ยอดจำนวนผู้ติดเชื้อ
0             กระบี่                18136
1      กรุงเทพมหานคร               718429
2          กาญจนบุรี                24510
3          กาฬสินธุ์                11288
4          กำแพงเพชร                16773
..               ...                  ...
71          เพชรบุรี                35430
72         เพชรบูรณ์                21059
73               เลย                13471
74              แพร่                 4807
75        แม่ฮ่องสอน                 5096

[76 rows x 2 columns]

In [172]:
data_project.to_csv('data_project.csv', encoding='utf-8')